<p id="notice"><%= notice %></p>

<div id="cards" class="card text-center">
  <div class="card-header">
    <%= @blog.user.email %>
  </div>

  <div class="card-body">
    <h5 class="card-title"><strong><%= @blog.title %></strong></h5>
    <p class="card-text"><%= @blog.article %></p>
    <div class="text-muted">
      <%= @blog.created_at %>
    </div>
  </div>
  <div class="container text-right">
    <% if @blog.user_id == current_user.id  %> 
      <%= link_to 'Edit',  edit_blog_path(@blog) %> |
      <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }%>
    <% end %>
  </div>
</div>
<br>
<div  class="container">
  <%= form_with(model: [@blog, @comment], local: false) do |form| %>
    <div class="row justify-content-md-center">
      <div class=" mb-3 col-8">
        <div class="row no-gutters">
          <div class="col-lg-2 ">
            <%= image_tag current_user.gravatar_url, style: "max-width: 80px;"%>
          </div>
          <div class="col-12 col-md-12 col-lg-10">
            <p ><%= form.text_area :comment_for_article, class:"col-12 col-md-12 col-lg-10" %></p>
            <%= form.submit nil, id: "clickme", class: "text-right" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>  
</div>
<br>
<div id="ajax"></div>
<div id="cards" class="container">
  <% @comments.each do |comment| %>
    <div class="row justify-content-md-center">
      <div class="card mb-3 col-8">
        <div class="row no-gutters">
          <div class="col-lg-2 pt-3 pb-3">
            <%= image_tag comment.user.gravatar_url, style: "max-width: 80px;"%>
          </div>
          <div class="col-lg-10">
            <div class="card-body">
              <p class="card-text"><%= comment.comment_for_article %></p>
              <p class="card-text"><small class="text-muted"><%= comment.created_at %></small></p>
            </div>
            <% if user_signed_in? %>
              <div class="container text-right" >
                <% if comment.user_id == current_user.id  %>
                  <p><%= link_to 'Edit', edit_blog_comment_path(@blog,comment)%> |
                  <%= link_to 'Destroy', blog_comment_url(@blog,comment), method: :delete, data: { confirm: 'Are you sure?'} %></p>
                <% end %>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  <% end %>  
</div>

<div class="container text-right">
  <%= link_to 'Back', blogs_path,class:"btn btn-light" %>
  <% if @comments.count > 3 %>
    <%= link_to 'ver mas >>>', blog_comments_path(@blog), class: "btn btn-light" %>
  <% end %>
</div>
