<p id="notice"><%= notice %></p>


<table>
<table class="table table-striped">
  <thead>
    <tr>
     
      <th scope="col">Comments</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <% @comments.reverse.each do |comment| %>

      <td><%= comment.comment_for_article %></td>
      <td><%= comment.created_at %></td>
      <td><%= link_to 'Show', blog_comment_path(@blog,comment) %></td>
      <td><%= link_to 'Edit', edit_blog_comment_path(@blog,comment)%></td>
      <td><%= link_to 'Destroy', blog_comment_url(@blog,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Comentar', new_blog_comment_path(@blog) %> |
<%= link_to 'Back',  blog_path(@blog) %>
